<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>361928237624-fkt6lm58ggot27it05ovh3gvrl4cc16m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361928237624-fkt6lm58ggot27it05ovh3gvrl4cc16m</string>
	<key>API_KEY</key>
	<string>AIzaSyAthvFvvRlS0Jek3jz23g1RXYxtd62jzGU</string>
	<key>GCM_SENDER_ID</key>
	<string>361928237624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.syr.MAP.instructor.Project0410</string>
	<key>PROJECT_ID</key>
	<string>project0410-7828f</string>
	<key>STORAGE_BUCKET</key>
	<string>project0410-7828f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:361928237624:ios:5857d4f74d2926a3</string>
	<key>DATABASE_URL</key>
	<string>https://project0410-7828f.firebaseio.com</string>
</dict>
</plist>